// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

.default-background {
  background-color: green;
  height: 400px;
  width: 400px;
}
